.has-text-link {
  color: gray !important;
}

a.has-text-link:hover {
  color: darkgray !important;
}

.hero-body {
  background-color: #303030 !important;
}

-.subtitle {
  color: SlateGray !important;
}

-.title {
  color: SlateGray !important;
}

-.fit-picture {
  width: 640px;
}