.has-text-link {
  color: gray !important;
}

a.has-text-link:hover {
  color: darkgray !important;
}

.hero-body {
  background-color: whitesmoke !important;
}

-.subtitle {
  color: SlateGray !important;
}

-.title {
  color: SlateGray !important;
}

-.fit-picture {
  width: 640px;
}

.text-justified {
  -column-count: 1;
  -column-gap: 20px; /* Adjusts the space between columns */
  text-align: justify;
  -padding-right: 3rem;
}

.logo {
  margin: 20px;
}